venv/
__pycache__/
.idea/
.cache/pip/
archive/
datasets/*/logs
datasets/*/cognates
datasets/*/dist_matrices
datasets/*/distances
datasets/*/experiments
datasets/*/plots
datasets/*/trees
datasets/*/phone_corr/
datasets/Arabic
datasets/Celtic
datasets/Japonic
datasets/Sinitic
datasets/Turkic
datasets/Uralic
datasets/Uto-Aztecan
