venv/
__pycache__/
archive/
datasets/*/logs
datasets/*/dist_matrices
datasets/*/plots
datasets/*/trees
datasets/*/phone_corr/pmi/*/*/PMI_iterations.log
datasets/*/phone_corr/pmi/*/*/phonPMI.tsv
datasets/*/phone_corr/surprisal/
datasets/*/phone_corr/samples/
datasets/Arabic
datasets/Celtic
datasets/Japonic
datasets/Sinitic
datasets/Turkic
datasets/Uralic
datasets/Uto-Aztecan
